.sidebar {
    width: 30%;
    float: right;
    background-color: #dc178d;
    font-size: 20px;
  }


  img{
    float: left;
    inline-size: 650px;
    margin: 1%;
    border-style: ridge
  }

  body{
    background-color: turquoise;

  }



  h1{
    font-size: 100px;
    color: hwb(0 2% 47%);
    position: relative;
    text-align: center;

  }



  h2{
    color: crimson;
    font-size: 50px;
  }


  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
  }